@mixin phone {
    @media screen and (max-width: 480px) { @content; }
}

@mixin tablet {
    @media screen and (min-width: 481px) and (max-width: 1199px) { @content; }
}

@mixin mobile {
    @media screen and (max-width: 1199px) { @content; }
}

@mixin desktop {
    @media screen and (min-width: 1200px) { @content; }
}

@mixin container {
    margin: auto;

    @include phone {
        max-width: 85%;
    }

    @include tablet {
        max-width: 87%;
    }

    @include desktop {
        max-width: 85%;
    }
}