:root {
    --primary: #00519D;
    --primary-hover: #0661C3;
    --primary-border: ;
    
    --secondary: #FFFFFF;
    --secondary-hover: ;
    --secondary-border: #F2F6F9;

    --tertiary: #F5F5F5;

    --font-color: #3B3F51;
    --font-color-reverse: #FFFFFF;

    --body-background: #FFFFFF;
    --body-selection: #4c66fd;

    --box-shadow: 0px 2px 5px #26303C33;

    --lazy-loading: #cecece;
}