:root {
    --primary: ;
    --primary-hover: ;
    --primary-border: ;
    
    --secondary: ;
    --secondary-hover: ;
    --secondary-border: ;

    --font-color: #000000;
    --font-color-reverse: #FFFFFF;

    --body-background: #FFFFFF;
}