// typography
$primary-font:  'Lato', sans-serif;

// Z-index's
$badge:                 9;
$not-found:             99;
$product:               99;
$header:                9999;
$header-menu:           99999;
$cart:                  999999;